@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base; 
@tailwind components;
@tailwind utilities; 



html, body {
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    cursor: url('/cursor.png') 16 16, auto;
}

